# Django
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media/
migrations/
!migrations/__init__.py
static/

# Project
*.secret

# Python
*.py[cod]
*$py.class

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Celery
celerybeat-schedule.*

# Code editors
.vscode/
.idea/

# Virtual environments
.venv/
.env/
venv/
env/
